.title{
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0px;
    color: var(--ion-color-primary);
}
.text{
    font-size: 0.8rem;
    margin-top: 1px;
    margin-bottom: 1px;
}
  

.fecha{
    color: var(--ion-color-dark);
   // color : #8c00ff;
}

.trabajando{
    color: var(--ion-color-dark);
    //color: #ffc400;
}

.provisorio{
    color: var(--ion-color-dark);
    //color: #0faf01
}

