<ion-tabs>
  <ion-tab-bar color=dark slot="bottom">
    <ion-tab-button tab="book" mode="ios">
      <ion-icon name="book"></ion-icon>
      <ion-label>Libros</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="information" mode="ios">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="geolocation" mode="ios">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Geolocalización</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="galeria" mode="ios">
      <ion-icon name="images"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user" mode="ios">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>