<ion-list style="padding-top: 0px; padding-bottom: 0px;">
  <ion-item class="item-popover" (click)="uploadImage()">
    <ion-icon style="padding-right: 5%;" color="primary" name="camera"></ion-icon>
    Foto
  </ion-item>

  <ion-item class="item-popover" (click)="uploadVideo()">
    <ion-icon style="padding-right: 5%;" color="primary" name="videocam"></ion-icon>
    Video
  </ion-item>

  <ion-item class="item-popover" (click)="uploadAudio()">
    <ion-icon style="padding-right: 5%;" color="primary" name="mic"></ion-icon>
    Audio
  </ion-item>
    
  <ion-item class="item-popover" (click)="uploadDocument()">
    <ion-icon style="padding-right: 5%;" color="primary" name="document"></ion-icon>
    Documento
  </ion-item>
</ion-list>
